.header {
  display: flex;
  position: absolute;
  z-index: 500;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: 180px;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.clicked {
  color: black;
  font-weight: bold;
}

a.clicked::after {
  content: '';
  display: block;
  margin: 5px auto;
  align-self: center;
  width: 120px;
  height: 3px;
  border-radius: 8px;
  background-color: rgb(239, 161, 15);
}

nav ul li a {
  text-decoration: none;
  color: gray; /* Default link color */
  position: relative;
  transition: color 0.3s; 
}

nav ul li:hover {
  text-decoration: none;
  color: black;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.contact-button,
.get-card-button {
  padding: 18px 20px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.contact-button {
  background-color: transparent;
  border: 2px solid #FF6600;
  color: #FF6600;
}

.get-card-button {
  background-color: #FF6600;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .header {
      padding: 20px 100px;
      display: flex;
      flex-direction: row;
  }

  .logo {
      font-size: 20px;
      width: 100px;
  }

  nav ul {
      gap: 15px;
  }

  nav ul a {
    font-size: small;
}
  .contact-button,
  .get-card-button {
      font-size: 16px;
      padding: 10px 18px;
  }
}

@media (max-width: 992px) {
  .header {
      /* padding: 20px 50px; */
      display: flex;
      flex-direction: row;
  }

  .logo {
      font-size: 18px;
  }

  nav ul {
      gap: 10px;
      display: flex;
      flex-direction: row;
  }

  .contact-button,
  .get-card-button {
      font-size: 12px;
  }


}

@media (max-width: 768px) {
  .header {
      flex-direction: row;
      align-items: flex-start;
      padding: 20px;
      height: auto;
  }

  .logo {
      font-size: 16px;
      width: 100px;

  }

  nav ul {
      display: none;
      gap: 10px;
  }

  .contact-button,
  .get-card-button {
      padding: 8px 15px;
      font-size: 14px;
  }
}

@media (max-width: 576px) {
  .header{
    align-items: center;
  }
  
  .logo {
      font-size: 12px;
      width: 100px;
  }

  .contact-button,
  .get-card-button {
      padding: 10px 12px;
      font-size: 12px;
  }

  nav ul li {
      margin-bottom: 8px;
  }
}